html
  head
    title SlideSync
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="//beebotte.com/bootstrap.css")
    link(href="css/dropzone.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
  body
    header#top.header
      a(href="https://github.com/bachwehbi/slides-synch")
        img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png")
      .text-vertical-center
        h1 Slides Synch
        h3 Share & Synchronize Presentations made easy
        br
        h4
          b Drop a .pdf to Start
        br
        button#about.btn.btn-success.btn-lg Upload to Start
        #preview
    script(src="js/dropzone.js")
    script.
      var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "/upload", // Set the url
        previewsContainer: "#preview", // Define the container to display the previews
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 20, // MB
        acceptedFiles: ".pdf",
        createImageThumbnails: false,
        clickable: "#about", // Define the element that should be used as click trigger to select files.
      });
      myDropzone.on("success", function(file, msg) {
        console.log(msg.id);
        gotoLive(msg);
      });
      myDropzone.on("complete", function(file, msg) {
        myDropzone.removeFile(file);
      });
      function gotoLive(file) {
        //window.location.assign("/p/" + file.id + "?fname=" + file.fname);
        window.location.assign("/live");
      }
